PORT=3000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000
ALLOWED_DOMAINS='["http://localhost:3000"]'

FEATURE_FLAGS='[{"feature": "FeatureNames.yourFeatureFlag", "enabled": false}]'

STRAPI_API_HOST="Strapi URL without /api"